.paginationFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 70px 0;
}

.pageButton {
  background-color: transparent;
  color: var(--pagination-text);
  border: 1px solid var(--card-border-color);
  border-radius: 10px;
  padding: 11px 17px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

/*.pageButton.active {*/
/*  background-color: #EF4934;*/
/*  color: #FFF;*/
/*  font-weight: 700;*/
/*}*/

.pageButton:disabled {
  background-color: #EF4934;
  cursor: not-allowed;
}

.ellipsis {
  padding: 10px;
  font-size: 14px;
}
