.cartButton {
  display: flex;
  align-items: center;
  gap: 32px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

.whiteCart, .blackCart {
  /*background-color: #EF4934;*/
}

.counterCart {
  height: 17px;
  width: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #EF4934;
  font-size: 10px;
  font-weight: 700;
  position: absolute;
  top: 18px;
  right: 1px;
}
