.product__card {
  display: flex;
  flex-direction: column;
  width: 275px;
  height: 345px;
  padding: 20px 15px;
  box-sizing: border-box;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 20px;
  background-color: #FFF;
}

.card__image {
  width: 200px;
  height: 205px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.card__title {
  font-size: 22px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0;
  color: #111;
  margin-top: 20px;
}

.card__price {
  display: flex;
  position: relative;
  width: 100%;
  align-items: baseline;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0;
  color: #111;
}

.symbol {
  font-size: 14px;
}

.basket {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
  stroke: #111;
}
