.about {
  padding: 40px 0 20px;
}

.about__inner {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 80px;
}

.about__inner-text {
  display: flex;
  flex-direction: column;
  max-width: 45%;
  padding-bottom: 70px;
}

.about__inner a {
  color: #111;
  font-weight: 400;
  text-decoration: underline;
}

.about__inner p {
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 20px;
}

.about__inner p:last-child {
  margin-bottom: 0;
}

.about__inner-image {
  max-width: 39%;
  height: 480px;
}

.about__inner-image img {
  width: 100%;
  height: 100%;
  border-radius: 40px;
}

@media (max-width: 1120px) {

  .about__inner {
    gap: 40px;
  }

  .about__inner-text {
    padding-bottom: 20px;
    max-width: 52%;
  }

  .about__inner-image {
    max-width: 44%;
  }
}

@media (max-width: 900px) {

  .about {
    text-align: center;
  }

  .about__inner {
    align-items: center;
    flex-direction: column-reverse;
  }

  .about__inner-text {
    max-width: 100%;
  }

  .about__inner-image {
    height: 350px;
    max-width: 100%;
  }
}
