.link {
  color: #111;
}

@media (min-width: 391px) and (max-width: 1279px) {

  .aboutImage {
    max-width: 100%;
    height: auto;
    aspect-ratio: 12/9;
    border-radius: 30px;
    margin: 30px;
  }

  .aboutFlex {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 10px;
  }
}

@media (max-width: 391px) {

  .aboutImage {
    max-width: 100%;
    height: auto;
    aspect-ratio: 12/9;
    border-radius: 30px;
    margin: 30px 0;
  }

  .aboutTitle {
    font-size: 27px;
    font-weight: 600;
  }

  .aboutText {
    margin: 0 30px;
    font-size: 16px;
    font-weight: 400;
  }

  .link {
    text-decoration: none;
  }

  .aboutFlex {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1280px) {

  .aboutImage {
    width: 50%;
    height: auto;
  }

  .aboutTitle {
    font-size: 36px;
    font-weight: 700;
  }

  .aboutText {
    font-size: 22px;
    font-weight: 400;
    margin: 60px 0 0 53px;
  }

  .aboutFlex {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 70px;
    margin: 0;
  }
}
