.aboutMe {
  display: flex;
  align-items: flex-end;
}

.aboutMeColumn {
  flex: 1;
  flex-shrink: 0;
}

.aboutMe h1 {
  font-size: 28px;
  margin: 0 0 40px;
}

.aboutMe p {
  margin-bottom: 20px;
}

.aboutMeImgContainer {
  display: flex;
  justify-content: flex-end;
}

.aboutMeImgContainer img {
  max-width: 500px;
  border-radius: 40px;
}

@media (max-width: 768px) {

  .aboutMe {
    flex-direction: column-reverse;
  }

  .aboutMeColumn {
    flex: auto;
  }

  .aboutMe h1 {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .aboutMeImgContainer {
    margin-bottom: 30px;
  }

  .aboutMeImgContainer img {
    max-width: 100%;
    border-radius: 30px;
  }
}
