.aboutMe {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px;
  min-width: 330px;
  min-height: 400px;
  justify-content: space-between;
  margin: 0 auto;
}

.aboutMeImage {
  width: 84%;
  max-width: 500px;
  max-height: 489px;
  height: auto;
  margin: 0 auto;
}

.aboutMeText {
  display: flex;
  flex-direction: column;
}

.aboutMeHeader {
  color: #111;
  margin: 0;
  font-weight: 600;
  font-size: 27px;
  line-height: 20px;
}

.aboutMeDescription {
  color: #111;
  font-weight: 400;
  line-height: 20px;
}

.aboutMeDescription a {
  color: #111;
}

@media only screen and (min-width: 1250px) {

  .aboutMe {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 50px;
    max-width: 1250px;
    padding: 60px;
    margin: 0 auto;
    align-items: center;
    min-height: 64vh;
    max-height: 100vh;
  }

  .aboutMeText {
    color: #111;
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
  }

  .aboutMeDescription {
    color: #111;
    width: 100%;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px
  }

  .aboutMeText {
    display: flex;
    flex-direction: column;
  }
}
