.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
  margin-top: 100px;
}


.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
