.headerNav {
  margin: 0;
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

.headerNav a:hover {
  font-weight: 700;
}

@media (max-width: 768px) {

  .headerNav {
    display: none;
  }
}
