.headerAccount {
  display: flex;
  align-items: center;
  gap: 10px;
}

.loginButton {
  background: #333 !important;
}

.loginButton:hover {
  background: #585858 !important;
}

@media (max-width: 768px) {

  .headerAccount {
    display: none;
  }
}
