.header {
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: #111;
}

.headerLogo {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.headerMoon, .headerSun {
  background: none;
  border: none;
  cursor: pointer;
}

.headerWrapper {
  width: 100%;
  max-width: 158px;
}

.headerTheme {
  position: relative;
  gap: 15px;
}

.headerTheme::after {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  content: "";
  display: block;
  width: 1px;
  height: 20px;
  background-color: #656565;
}

.navigation {
  width: 100%;
  max-width: 600px;
}

.navigationBtn {
  gap: 48px;
}

/*.navigationProduct {*/
/*  border: none;*/
/*  font-size: 16px;*/
/*  background-color: #111;*/
/*  color: #FFF;*/
/*}*/

/*.navigationAbout {*/
/*  font-size: 16px;*/
/*  border: none;*/
/*  background-color: #111;*/
/*  color: #FFF;*/
/*}*/

.navButton {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
}

.navButtonActive {
  font-weight: 700;
  color: #CCC;
}

.navigationCart {
  display: flex;
  align-items: center;
  gap: 32px;
}

.cart {
  background: none;
}

.counter {
  height: 17px;
  width: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #EF4934;
  font-size: 10px;
  font-weight: 700;
  position: absolute;
  top: 18px;
  right: 1px;
}

.btn {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.btnLogin {
  border-radius: 40px;
  color: #FFF;
  font-size: 16px;
  background-color: #333;
  padding: 6px 20px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.btnImgLogout {
  padding-right: 10px;
}

.btnLogin:hover {
  background-color: #EF4934;
}

.btnSignUp {
  border-radius: 40px;
  color: #FFF;
  font-size: 16px;
  background-color: #333;
  padding: 6px 20px;
  display: flex;
  align-items: center;
  width: max-content;
}

.btnSignUp:hover {
  background-color: #EF4934;
}

.menuBtn {
  display: none;
}


@media screen and (max-width: 767px) {

  .header {
    padding: 22px;
  }

  .menuBtn {
    display: block;
  }

  .navigation, .headerTheme {
    display: none;
  }
}

/* @media screen and (max-width: 767px) {

  .header {
    padding: 22px;
  }

  .menuBtn {
    display: block;
  }

  .navigation, .headerTheme {
    display: none;
  }
}


/*  .btnLogin, .btnSignUp, .productMenu, .aboutMenu {*/
/*    display: none;*/
/*  }*/
/*}*/

/*@media (min-width: 391px) and (max-width: 1279px) {*/

/*  .navigationCart {*/
/*    gap: 10px;*/
/*  }*/

/*  .navigationBtn {*/
/*    gap: 13px;*/
/*  }*/

/*  .containerFlex {*/
/*    display: flex;*/
/*  }*/

/*  .btnLogin {*/
/*    font-size: 13px;*/
/*    padding: 6px 8px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    width: max-content;*/
/*  }*/

/*  .btnSignUp {*/
/*    font-size: 13px;*/
/*    padding: 6px 8px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    width: max-content;*/
/*  }*/

/*  .navigationProduct {*/
/*    border: none;*/
/*    font-size: 13px;*/
/*  }*/

/*  .navigationAbout {*/
/*    font-size: 16px;*/
/*    border: none;*/
/*  }*/
/*} */
