.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding: 17px 52px;
  background-color: #111;
}

.headerLogo {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.counter {
  height: 17px;
  width: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #EF4934;
  font-size: 10px;
  font-weight: 700;
  position: absolute;
  top: 5px;
  right: 25px;
}

.headerFlex {
  width: 100%;
  max-width: 158px;
}

.headerTheme {
  position: relative;
  gap: 15px;
}

.headerTheme::after {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  content: "";
  display: block;
  width: 1px;
  height: 20px;
  background-color: #656565;
}

.navigation {
  width: 100%;
  max-width: 600px;
}

.navigationBtn {
  gap: 10px;
}

.navigationProduct {
  border: none;
  font-size: 16px;
  background-color: #111;
  color: #FFF;
}

.navigationAbout {
  font-size: 16px;
  border: none;
  background-color: #111;
  color: #FFF;
}

.navigationCart {
  display: flex;
  align-items: center;
  gap: 32px;
}

.cart {
  display: flex;
  align-items: center;
  gap: 32px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

.btn {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.btnLogin {
  border-radius: 40px;
  color: #FFF;
  background-color: #333;
  padding: 11px 20px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.btnLogin:hover {
  background-color: #EF4934;
}

.btnSignUp {
  border-radius: 40px;
  color: #FFF;
  background-color: #333;
  padding: 11px 20px;
  display: flex;
  align-items: center;
  width: max-content;
}

.btnSignUp:hover {
  background-color: #EF4934;
}

.menuBtn {
  display: none;
}

@media (max-width: 391px) {

  .menuBtn {
    display: block;
  }

  .headerMoon, .headerSun {
    display: none;
  }

  .btnLogin, .btnSignUp, .productMenu, .aboutMenu {
    display: none;
  }
}

@media (min-width: 391px) and (max-width: 1279px) {

  .header {
    padding: 10px;
  }

  .containerFlex {
    display: flex;
  }

  .btnSignUp {
    border-radius: 40px;
    color: #FFF;
    background-color: #333;
    padding: 11px 20px;
    display: flex;
    align-items: center;
  }
}
