
.container {
  width: 390px;
  height: 166px;
  align-items: center;
  margin-bottom: 30px;
}

.divider {
  display: flex;
  justify-content: center;
}

.description {
  font-family: var(--main-font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.redColor {
  color: var(--red);
}

@media (min-width: 1280px) {

  .container {
    width: 1280px;
    height: 160px;
    margin-bottom: 42px;
  }

  .description {
    font-size: 22px;
    line-height: 32px;
    margin: 0;
  }
}
