
@media (min-width: 390px) {

  .container {
    width: 390px;
    height: 166px;
    align-items: center;
  }

  .divider {
    display: flex;
    justify-content: center;
  }

  .author {
    font-family: Montserrat, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0;
  }

  .redColor {
    color: #EF4934;
  }
}

@media (min-width: 1280px) {

  .container {
    width: 1280px;
    height: 160px;
  }

  .author {
    font-size: 22px;
    line-height: 32px;
    margin: 0
  }
}
