.footerFlex {
  margin: 0 70px 41px;
  border-top: 1px solid #CCC;
}

.footerText {
  text-align: center;
  padding-top: 28px;
}

.footerSocial {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 20px;
}
