.footer {
  width: 100%;
  margin-top: auto;
}

.line {
  border-top: 1px solid;
  color: #CCC;
  width: calc(100% - 112px);
  margin: 0 53px;
}

.footer__container {
  width: 100%;
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.copyright {
  margin: 5px 0 16px;
  font-weight: 400;
  line-height: 32px;
  font-size: 22px;
  text-align: center;
}

.copyright__color {
  color: #EF4934;
}
