.container {
  width: 100%;
  max-width: 1175px;
  margin: 0 auto;
}

.productCard {
  display: flex;
  flex-direction: column;
  max-width: 275px;
  height: auto;
  font-size: 22px;
  color: #221F1F;
  border-radius: 20px;
  border: 1px solid #CCC;
  margin-bottom: 15px;
}

.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.flexPrice {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.productDetails {
  margin: 0;
}

.productTitle {
  margin: 0;
  font-size: 22px;
  padding-left: 15px;
}

.productImage {
  border-radius: 30px;
  padding: 20px 15px;
}

.cartButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

.counter {
  height: 17px;
  width: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #EF4934;
  font-size: 10px;
  font-weight: 700;
  position: absolute;
  top: 17px;
  right: 2px;
}

@media (max-width: 391px) {

  .container {
    width: 330px;
    margin: 0 auto;
  }

  .productImage {
    margin: 20px auto 0;
  }

  .productList {
    margin-top: 52px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }
}
