
.iconsSet {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (min-width: 1280px) {

  .iconsSet {
    margin-top: 49px;
    margin-bottom: 29px;
  }
}
