@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..f900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
  line-height: 1;
  font-family: Montserrat, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
  display: inline;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

button {
  line-height: inherit;
  font-weight: inherit;
  font-size: inherit;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

/* Стилі за замовченням */

body {
  color: #221F1F;
  font-family: Roboto, sans-serif;
  font-size: 22px;
  letter-spacing: .5px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 400px;
}

::placeholder {
  letter-spacing: .5px;
  font-size: 14px;
  font-weight: 400;
}

/* Налаштування адаптиву */

[class*="__container"] {
  max-width: 1175px; /* Обмежуючий + відступи */
  padding: 30px;
  margin: 0 auto;
}

.about__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
  margin-top: 60px;
}

.about__container img {
  border-radius: 30px;
  align-items: center;
  width: 100%;
  object-fit: contain;
}

.about-information {
  display: flex;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
  gap: 30px;
}

.about-information p {
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
}

.about-information h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
}

@media (max-width: 1000px) {

  .about__container {
    grid-template-columns: 1fr;
  }

  .about__container img {
    grid-row-start: 1;
    width: 70%;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {

  .about__container {
    row-gap: 30px;
    margin-top: 0;
  }

  .about__container img {
    width: 100%;
    grid-row-start: 1;
  }

  .about-information {
    gap: 30px;
  }

  .about-information h1 {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 0;
  }

  .about-information p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
  }
}
