.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 10px;
  margin: 0 auto;
  box-sizing: border-box;
}

.lightTheme {
  background-color: #FFF;
  --search-text: #656565;
  --search-border-color: #E1E1E1;
  --card-border-color: #CCC;
  --about-link: #111;
  --footer-border: #CCC;
}

.darkTheme {
  background-color: #111;
  color: #FFF;
  --search-bg: #111;
  --search-text: #FFF;
  --search-border-color: #656565;
  --card-border-color: #333;
  --about-link: #FFF;
  --footer-border: #333;
}
