* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 10rem 9% 2rem;
  justify-content: space-around;
}

@media (max-width: 1200px) {

  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {

  section {
    padding: 5rem 5% 2rem;
  }

  .about {
    flex-direction: column;
  }

  .about__logo-img {
    width: 70vw;
  }
}

/* @media (max-width: 768px) {

  .about {
    flex-direction: column;
  }

  .about__logo-img {
    width: 70vw;
  }
} */

@media (max-width: 576px) {

  html {
    font-size: 50%;
  }
}