@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf");
}

body {
  display: flex;
  font-family: "Montserrat";
  margin: 0;
  font-size: 16px;
  min-height: 100vh;
}

.root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #FFF;
  text-decoration: inherit;
}

p {
  color: #111;
  margin: 0;
  font-weight: 400;
  font-size: 22px;
}

h1 {
  margin: 0;
}

button {
  border: none;
  padding: .6em 1.2em;
  font-size: 1em;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
}

@media (prefers-color-scheme: light) {

  :root {
    background-color: #FFF;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
