@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat.ttf");
  font-weight: 100 900;
  font-stretch: 25% 100%;
}

:root {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark light;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

p {
  margin: 0;
}

body {
  font-weight: 400;
  margin: 0;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.page-wrapper {
  width: 1174px;
  padding: 0 0 40px;
}

.button {
  display: flex;
  gap: 5px;
  border-radius: 40px;
  padding: 5px 10px;
  background: #EF4934;
}

.button:hover {
  background: #D43824;
}

main {
  padding: 60px 0 120px;
}

@media (max-width: 768px) {

  .page-wrapper {
    width: 100%;
    padding: 0 0 30px;
  }

  main {
    padding: 10px 30px 30px;
  }
}

@media (prefers-color-scheme: dark) {

  :root {
    color: #FFF;
    background-color: #111;
  }

  a {
    color: #FFF;
  }

  a:hover {
    color: #FFF;
  }
}

@media (prefers-color-scheme: light) {

  :root {
    color: #111;
    background-color: #FFF;
  }

  a {
    color: #111;
  }

  a:hover {
    color: #111;
  }
}
